In [ ]:
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from matplotlib import pyplot as plt

In [ ]:
spark = SparkSession.builder.appName("test2").getOrCreate()

In [ ]:
spark

In [31]:
pdf = pd.read_excel('/Users/dhruvbharara/Downloads/CrystalPools.xlsx',header=None)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [33]:
df = spark.createDataFrame(pdf)

In [34]:
df.show()

+-----+------------------+------------+-------------------+----------+----------+-----------------+--------------------+----------+---------+-------------+
|    0|                 1|           2|                  3|         4|         5|                6|                   7|         8|        9|           10|
+-----+------------------+------------+-------------------+----------+----------+-----------------+--------------------+----------+---------+-------------+
|Month|Transaction Number|Product Code|Product Description|Store Cost|Sale Price|           Profit|Commision 10% for...|FIRST NAME|LAST NAME|Sale Location|
|  Jan|              1001|        9822|         Pool Cover|      58.3|      98.4|40.10000000000001|   8.020000000000001|    Chalie|    Barns|           NM|
|  Jan|              1002|        2877|                Net|      11.4|      16.3|              4.9| 0.49000000000000005|      Juan|Hernandez|           CA|
|  Jan|              1003|        2499|          8 ft Hose|       6.2|       9.2|2.999999999999999| 0.29999999999999993|      Doug|    Smith|           AZ|
|  Jan|              1004|        8722|         Water Pump|       344|       502|              158|                31.6|    Chalie|    Barns|           AZ|
|  Jan|              1005|        1109|  Chlorine Test Kit|         3|         8|                5|                 0.5|      Doug|    Smith|           AZ|
|  Jan|              1006|        9822|         Pool Cover|      58.3|      98.4|40.10000000000001|   8.020000000000001|      Doug|    Smith|           AZ|
|  Jan|              1007|        1109|  Chlorine Test Kit|         3|         8|                5|                 0.5|    Hellen|  Johnson|           NM|
|  Jan|              1008|        2877|                Net|      11.4|      16.3|              4.9| 0.49000000000000005|      Doug|    Smith|           NM|
|  Jan|              1009|        1109|  Chlorine Test Kit|         3|         8|                5|                 0.5|      Doug|    Smith|           AZ|
|  Jan|              1010|        2877|                Net|      11.4|      16.3|              4.9| 0.49000000000000005|      Juan|Hernandez|           CO|
|  Jan|              1011|        2877|                Net|      11.4|      16.3|              4.9| 0.49000000000000005|      Juan|Hernandez|           AZ|
|  Jan|              1012|        4421|            Skimmer|        45|        87|               42|                 8.4|      Doug|    Smith|           NM|
|  Jan|              1013|        9212| 1 Gal Muratic Acid|         4|         7|                3| 0.30000000000000004|    Hellen|  Johnson|           CO|
|  Jan|              1014|        8722|         Water Pump|       344|       502|              158|                31.6|    Chalie|    Barns|           CA|
|  Jan|              1015|        2877|                Net|      11.4|      16.3|              4.9| 0.49000000000000005|    Hellen|  Johnson|           AZ|
|  Jan|              1016|        2499|          8 ft Hose|       6.2|       9.2|2.999999999999999| 0.29999999999999993|      Doug|    Smith|           CA|
|  Feb|              1017|        2242|            AutoVac|        60|       124|               64|                12.8|      Juan|Hernandez|           NM|
|  Feb|              1018|        1109|  Chlorine Test Kit|         3|         8|                5|                 0.5|      Doug|    Smith|           CA|
|  Feb|              1019|        2499|          8 ft Hose|       6.2|       9.2|2.999999999999999| 0.29999999999999993|      Doug|    Smith|           CO|
+-----+------------------+------------+-------------------+----------+----------+-----------------+--------------------+----------+---------+-------------+
only showing top 20 rows

In [39]:
df.types()

AttributeError: 'DataFrame' object has no attribute 'types'

In [57]:
df2 = spark.read.csv('/Users/dhruvbharara/Downloads/CrystalPools.csv',header=True)

In [58]:
df2.show()

+-----+------------------+------------+-------------------+------------+------------+---------+-------------------------------------------------------------------------+----------+---------+-------------+
|Month|Transaction Number|Product Code|Product Description| Store Cost | Sale Price |  Profit |Commision 10% for product less than 50$ and 20% for product more than 50$|FIRST NAME|LAST NAME|Sale Location|
+-----+------------------+------------+-------------------+------------+------------+---------+-------------------------------------------------------------------------+----------+---------+-------------+
|  Jan|            1,001 |        9822|         Pool Cover|     $58.30 |     $98.40 |  $40.10 |                                                                     8.02|    Chalie|    Barns|           NM|
|  Jan|            1,002 |        2877|                Net|     $11.40 |     $16.30 |   $4.90 |                                                                     0.49|      Juan|Hernandez|           CA|
|  Jan|            1,003 |        2499|          8 ft Hose|      $6.20 |      $9.20 |   $3.00 |                                                                      0.3|      Doug|    Smith|           AZ|
|  Jan|            1,004 |        8722|         Water Pump|    $344.00 |    $502.00 | $158.00 |                                                                     31.6|    Chalie|    Barns|           AZ|
|  Jan|            1,005 |        1109|  Chlorine Test Kit|      $3.00 |      $8.00 |   $5.00 |                                                                      0.5|      Doug|    Smith|           AZ|
|  Jan|            1,006 |        9822|         Pool Cover|     $58.30 |     $98.40 |  $40.10 |                                                                     8.02|      Doug|    Smith|           AZ|
|  Jan|            1,007 |        1109|  Chlorine Test Kit|      $3.00 |      $8.00 |   $5.00 |                                                                      0.5|    Hellen|  Johnson|           NM|
|  Jan|            1,008 |        2877|                Net|     $11.40 |     $16.30 |   $4.90 |                                                                     0.49|      Doug|    Smith|           NM|
|  Jan|            1,009 |        1109|  Chlorine Test Kit|      $3.00 |      $8.00 |   $5.00 |                                                                      0.5|      Doug|    Smith|           AZ|
|  Jan|            1,010 |        2877|                Net|     $11.40 |     $16.30 |   $4.90 |                                                                     0.49|      Juan|Hernandez|           CO|
|  Jan|            1,011 |        2877|                Net|     $11.40 |     $16.30 |   $4.90 |                                                                     0.49|      Juan|Hernandez|           AZ|
|  Jan|            1,012 |        4421|            Skimmer|     $45.00 |     $87.00 |  $42.00 |                                                                      8.4|      Doug|    Smith|           NM|
|  Jan|            1,013 |        9212| 1 Gal Muratic Acid|      $4.00 |      $7.00 |   $3.00 |                                                                      0.3|    Hellen|  Johnson|           CO|
|  Jan|            1,014 |        8722|         Water Pump|    $344.00 |    $502.00 | $158.00 |                                                                     31.6|    Chalie|    Barns|           CA|
|  Jan|            1,015 |        2877|                Net|     $11.40 |     $16.30 |   $4.90 |                                                                     0.49|    Hellen|  Johnson|           AZ|
|  Jan|            1,016 |        2499|          8 ft Hose|      $6.20 |      $9.20 |   $3.00 |                                                                      0.3|      Doug|    Smith|           CA|
|  Feb|            1,017 |        2242|            AutoVac|     $60.00 |    $124.00 |  $64.00 |                                                                     12.8|      Juan|Hernandez|           NM|
|  Feb|            1,018 |        1109|  Chlorine Test Kit|      $3.00 |      $8.00 |   $5.00 |                                                                      0.5|      Doug|    Smith|           CA|
|  Feb|            1,019 |        2499|          8 ft Hose|      $6.20 |      $9.20 |   $3.00 |                                                                      0.3|      Doug|    Smith|           CO|
|  Feb|            1,020 |        2499|          8 ft Hose|      $6.20 |      $9.20 |   $3.00 |                                                                      0.3|      Doug|    Smith|           NV|
+-----+------------------+------------+-------------------+------------+------------+---------+-------------------------------------------------------------------------+----------+---------+-------------+
only showing top 20 rows

In [55]:
df3 = spark.read.csv('/Users/dhruvbharara/Downloads/testspark.csv',inferSchema=True,header=True)

In [56]:
df3.show()

+----------+----------+------+
|      Name|Department|salary|
+----------+----------+------+
|     dhruv|        it| 10000|
|   pritesh|blockchain| 24000|
|   advaith|blockchain| 13000|
|     arnav|       fsd| 17800|
|   sarthak|        it| 14900|
|   bhargav|        it|  6700|
|subhashree|       fsd| 13400|
|     manas|blockchain| 15670|
|   pritesh|blockchain| 13000|
|     dhruv|        it|  5000|
|     arnav|       fsd|   670|
|subhashree|       fsd|  6500|
+----------+----------+------+

In [69]:
df3.select('Name','Department').show()

+----------+----------+
|      Name|Department|
+----------+----------+
|     dhruv|        it|
|   pritesh|blockchain|
|   advaith|blockchain|
|     arnav|       fsd|
|   sarthak|        it|
|   bhargav|        it|
|subhashree|       fsd|
|     manas|blockchain|
|   pritesh|blockchain|
|     dhruv|        it|
|     arnav|       fsd|
|subhashree|       fsd|
+----------+----------+

In [78]:
df2.select('Month','Profit ).show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `Profit` cannot be resolved. Did you mean one of the following? [` Profit `, `Month`, `Product Code`, `LAST NAME`, ` Sale Price `].;
'Project [Month#730, 'Profit]
+- Relation [Month#730,Transaction Number#731,Product Code#732,Product Description#733, Store Cost #734, Sale Price #735, Profit #736,Commision 10% for product less than 50$ and 20% for product more than 50$#737,FIRST NAME#738,LAST NAME#739,Sale Location#740] csv