In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/Users/dhruvbharara/Downloads/stack-overflow-developer-survey-2019 (1)/survey_results_public_final.csv')
print(df)

In [ ]:
print(df.shape) #prints the rows and columns of dataset

In [ ]:
df.info

In [ ]:
schema_df = pd.read_csv('/Users/dhruvbharara/Downloads/stack-overflow-developer-survey-2023/survey_results_schema_final.csv')
print(schema_df)

In [ ]:
df.head(10) #gives the output of first ten rows

In [ ]:
print(schema_df['qid']) #printing only the specified column  ,,,, this also a series

In [ ]:
print(df.Age) #another way to print a column

In [ ]:
print(df[['Respondent','MainBranch']])  #accessign multiple columns in a single row

In [ ]:

print(df.columns) #getting the names of all the columns

In [ ]:
print(df.iloc[0])  #getting the data of a specififc row

print(df.iloc[0,1]) #getting the data of row 0 to 1 

print(df.iloc[[0,1],2]) #getting the  data of row 0 to 1 with colunn 2 only as an attribute

In [ ]:
print(df.iloc[[0,10],1]) #getting the data of row 0 to 10 with column 1 only as an attribute

print(df.loc[[0,1]]) #loc is also used to get data  and also used with combination of attribute

print(df.loc[[1,2],'MainBranch']) #in loc we need to specify the labelo only if kept empty it will give a key error

print(df.loc[1:20,['MainBranch','Employment']]) #1:20 infers to print access data value from rows 1 to 20

print(df['WorkPlan'].value_counts())

In [ ]:
print(df.loc[1:20 , 'Respondent':'Age1stCode']) #value of rows 1 to 20 along with attributes from responseID to learncode 

df.set_index('Age', inplace = True) #to set a column as an index , inplace is used to carry over those changes meaning making the changes permanent

In [ ]:
print(df.index)

df.reset_index(inplace=True) #reseting the index 

print(schema_df)

print(schema_df.sort_index(ascending=False))

In [ ]:
#took sample data to work on some commands
sample_Data = {'first':['Dhruv' , 'Vraj' , 'Sanidhya ' , 'john'] , 'last':['Bharara' , 'Shah' , 'Sarda' , 'dane']  , 'email':['dhruvbharara2@gmail.com' , 'vrajshah09@gmail.com' , 'sardasandy20@gmail.com' , 'johndane@gmail.com']}

sd = pd.DataFrame(sample_Data)

print(sd)

filt1 = (sd['first'] == 'Dhruv') #to check if the row matches or not , if matches then return true and not return false 

print(filt1)
print(sd[filt1]) #will return the data frame with the filter

In [ ]:

print(df['ConvertedComp'])

high_salary = (df['ConvertedComp']>70000)

print(df.loc[high_salary]) #using filter for printing salaries more than 70000

print(df.loc[high_salary,['Country' , 'LanguageWorkedWith' , 'ConvertedComp']])

In [ ]:
fresher = (df['YearsCode'] > str(3))
print(df.loc[fresher , ['ConvertedComp' , 'Respondent','YearsCode']])

filt2 = df['LanguageWorkedWith'].str.contains('Python' , na = False)
print(df.loc[filt2,'LanguageWorkedWith'])#running with filter to print the rows with python as a language worked with

In [ ]:
#again working with the sample data created before
sd = pd.DataFrame(sample_Data)
print(sd)

sd.columns = ['first_name ' , 'last_name' , 'email'] #just changing the names of the column..
sd.columns = sd.columns.str.replace('email' , 'email_id') #replacing the columns names with some another name , first argument is old column name and second argument is new column name , works with anything

sd.columns = [x.upper() for x in sd.columns ] #making the column names in uppercase 

sd.columns = [x.lower() for x in sd.columns] #making the column names in lowercase 


print(sd)

In [ ]:
print(sd.loc[2])

In [ ]:
sd.loc[3,['last' , 'email']] = ['doe' , 'johndoe@gmail.com'] #used for updating a row in the column , columns need to specifed first

In [ ]:
sd.loc[3,['last']] = ['Doe']
sd.loc[3,['first']] = ['John'] #updating the rows again 
print(sd)

In [ ]:
sd['email'] = sd['email'].str.upper() #or run sd.email.str.upper()
sd

In [ ]:
sd['email'] = sd['email'].str.upper()

In [ ]:
def email_upper(email):    #creating functions and pandas together 
    return sd.email.str.upper()
    

email_upper(sd.email)

In [ ]:
sd.map(len)  # can also use sd.applymap(len) , map method only works on series

In [ ]:
sd.loc[0 , ['first']] = ['pritesh']

In [ ]:
sd.drop(index=3)

In [ ]:
sample_Data2 = {'first':['dhruv','pritesh','sarthak'] , 'age':['20','21','22'] ,'last':['bharara','panda','singh'] }

In [ ]:
sd2 = pd.DataFrame(sample_Data2)

In [ ]:
sd2.sort_values(by='last',ascending=False) #sorting on the basis of last name

In [ ]:
sd2.sort_values(by=['last','age'],ascending=False) #sorting on the basis of last first and then age , ascending order is true

In [ ]:
df.columns

In [ ]:
df.sort_values(['ConvertedComp','Country'],ascending=[True,False],inplace=True)

In [ ]:
df['ConvertedComp'].nlargest(10) #gives the 10 largest values of the attribute

In [ ]:
df.nlargest(10,['ConvertedComp','Age'])

In [ ]:
sampl = pd.read_excel('/Users/dhruvbharara/Downloads/TEST2.xlsx')

In [ ]:
sampl.columns

In [ ]:
df.columns

In [ ]:
df['ConvertedComp'].median()

In [ ]:
df.describe()

In [ ]:
df['ConvertedComp'].count()

In [ ]:
df['Hobbyist'].value_counts()

In [ ]:
df['Country'].value_counts()
df['SocialMedia'].value_counts()

In [ ]:
df['SocialMedia'].value_counts(normalize=True) #this breaks down the data by percentage

In [ ]:
countrygroup = df.groupby(['Country'])

In [ ]:
countrygroup.get_group('United States') #data is displayed only of where country = United States

In [ ]:
filt4 = df['Country']=='United States' #using filter is only useful when u want a data for a specific input...groupby is more useful

In [ ]:
df[filt4]

In [ ]:
df.groupby(['Country','SocialMedia'])

In [ ]:
df.loc[filt4]['SocialMedia'].value_counts()

In [ ]:
countrygroup['SocialMedia'].value_counts().head(100)

In [ ]:
afg = df['Country'] == 'Afghanistan'
usa = df['Country'] == 'United States'

In [ ]:
df.loc[afg]['SocialMedia'].str.contains('Reddit').value_counts()

In [ ]:
df.loc[afg]['SocialMedia'].str.contains('Reddit')

In [ ]:
df.loc[6391,['SocialMedia','Country']]

In [ ]:
df.loc[usa]['SocialMedia'].str.contains('Reddit').value_counts()

In [ ]:
countrygroup['SocialMedia'].value_counts().loc['China']

In [ ]:
countrygroup['SocialMedia'].value_counts().loc['Afghanistan']

In [ ]:
countrygroup['ConvertedComp'].median().loc['India']

In [ ]:
countrygroup['ConvertedComp'].agg(['median','mean']).loc['India']

In [ ]:
df.loc[usa]['LanguageWorkedWith'].str.contains('Python').value_counts()

In [ ]:
df.loc[usa]['LanguageWorkedWith'].str.contains('Python').sum()

In [ ]:
df.columns

In [ ]:
countryrespondents = df['Country'].value_counts()
countryrespondents

In [ ]:
countrygroup['LanguageWorkedWith'].apply(lambda x : x.str.contains('')).sum()

In [ ]:
df['LanguageWorkedWith']

In [ ]:
countrygroup['LanguageWorkedWith'].value_counts().loc()

In [ ]:
c = df['Country']

In [ ]:
df.loc[c]

In [ ]:
countrygroup['LanguageWorkedWith'].apply(lambda y : y)

In [ ]:
countrygroup['SocialMedia'].value_counts()

In [ ]:
countrygroup['LanguageWorkedWith'].value_counts()

In [ ]:
df2 = pd.read_csv('/Users/dhruvbharara/Downloads/stack-overflow-developer-survey-2023 (1) 2/survey_results_public.csv')

In [ ]:
df2

In [ ]:
df2['LanguageHaveWorkedWith'].apply(lambda x : x.str.contains('Python'))

In [ ]:
df['LanguageWorkedWith'].apply(lambda x : x)

In [ ]:
df2['LanguageHaveWorkedWith'].astype(str).apply(lambda x: 'Python' in x).value_counts()

In [ ]:
import pandas as pd

countr = df2.groupby('Country')
countr['SurveyEase'].apply(lambda x: x.str.contains('Easy').sum())

In [ ]:
filt5 = df2['Country'] == 'India'

In [ ]:
df2.loc[filt5]['SurveyEase'].str.contains('Easy').sum()

In [ ]:
countrygroup2 = df2.groupby('Country')

In [ ]:
countrygroup2['LanguageHaveWorkedWith'].apply(lambda x : x.str.contains('Python')).value_counts()

In [ ]:
countrygroup['LanguageWorkedWith'].value_counts()

In [ ]:
countrygroup2['LanguageHaveWorkedWith'].apply(lambda x : x.str.contains('Python').sum())

In [ ]:
countrygroup['LanguageWorkedWith'].apply(lambda x : x.str.contains('Python').sum())

In [ ]:
df2

In [ ]:
df['SurveyEase']

In [ ]:
df['SurveyEase'].value_counts()

In [ ]:
countryrespondents2 = df['Country'].value_counts()

In [ ]:
countryusingpython2 = countrygroup['LanguageWorkedWith'].apply(lambda x : x.str.contains('Python').sum())

In [ ]:
new_df2 = pd.concat([countryrespondents2,countryusingpython2],axis='columns',sort=False)

In [ ]:
new_df2

In [ ]:
OfficeStackSyncHaveWorkedWith = df2['OfficeStackSyncHaveWorkedWith'].astype(str).apply(lambda x: 'Discord' in x).value_counts()

In [ ]:
df2['OfficeStackSyncHaveWorkedWith'] = df2['OfficeStackSyncHaveWorkedWith'].fillna('none')

In [ ]:
df2['OfficeStackSyncHaveWorkedWith']

In [ ]:
OfficeStackSyncHaveWorkedWith

In [ ]:
OfficeStackSyncHaveWorkedWith2 = df2.groupby('OfficeStackSyncHaveWorkedWith')

In [ ]:
countryres = df2.groupby('Country')

In [ ]:
df2['OfficeStackSyncHaveWorkedWith'] = df2['OfficeStackSyncHaveWorkedWith']

In [ ]:
df2['OfficeStackSyncHaveWorkedWith'].apply(lambda x: 'Discord' in x)

In [ ]:
countryres['OfficeStackSyncHaveWorkedWith'].apply(lambda x: x.str.contains('Discord').value_counts())

In [ ]:
print(countryres['OfficeStackSyncHaveWorkedWith'])

In [ ]:
sample_Data

In [ ]:
sample_Data3 = {'first':['Dhruv' , 'Vraj' , 'Sanidhya ' , 'john' , '' , 'raj'] , 'last':['Bharara' , 'Shah' , 'Sarda' , 'dane' 'shukla' , 'meena']  , 'email':['dhruvbharara2@gmail.com' , 'vrajshah09@gmail.com' , 'sardasandy20@gmail.com' , 'johndane@gmail.com' , '' , ''] , 'age':[18,17,34,22]}

In [ ]:
sample_Data3

In [ ]:
df5 = pd.read_csv('/Users/dhruvbharara/Downloads/sample1.csv')

In [ ]:
df5.dropna() #prints only those rows which dont have any missing values

In [ ]:
df5

In [ ]:
df5.dropna(axis = 'index' ,how='any')  #if axis = index then those values are dropped in which row has a missing value , how is by default set to any. drop rows with any missing values

In [ ]:
df5.dropna(axis = 'index' ,how='all') #rows which have all missing values are dropped

In [ ]:
df5.dropna(axis='columns' , how='any') #checks the columns for null values , if any  null value is found in the column it is dropped

In [ ]:
df5.dropna(axis='index', how='any' , subset= ['Email ']) #this drops rows based on the column email , if any value in the email column is null it drops it

In [ ]:
df5.dropna(axis='index', how='any' , subset= ['EXPERIENCE','Email ']) #drop where email and experience column is null

In [ ]:
df5.replace('','0',inplace=True)

In [ ]:
df5.isna()

In [ ]:
df5.fillna('MISSING') #filling nan values with something

In [ ]:
df5.fillna(0, inplace=True) #filling nan values with 0

In [ ]:
df5

In [ ]:
df5['AGE'].mean()

In [ ]:
sample_Data6 = {'name':['Dhruv' , 'Pritesh' , 'Advaith' , 'Sarthak' , 'Missing'] , 'age':['19','20','21','20','NA']}

In [ ]:
sd6 = pd.DataFrame(sample_Data6)

In [ ]:
sd6

In [ ]:
sd6.fillna(0)

In [ ]:
sd6['age'].astype(float).mean()

In [ ]:
sd6['age'].astype(float).apply(lambda x : x >=20)

In [ ]:
sd6['age'] = sd6['age'].astype(int)

In [ ]:
sd6['age']

In [ ]:
sd6['age'].mean()

In [ ]:
sd6

In [ ]:
import numpy as np
sd6.replace('Missing',np.nan , inplace=True)
sd6.replace('NA' , np.nan , inplace=True)

In [ ]:
sd6

In [ ]:
sd6.fillna(0,inplace=True)

In [ ]:
na_vals = ['NaN']
df['YearsCode'].replace('Less than 1 year','1',inplace=False)
df['YearsCode'].replace('More than 50 years','50',inplace=False)
df['YearsCode'].fillna(0)

In [ ]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [ ]:
df['YearsCode'].mean()

In [ ]:
df['YearsCode'].unique()

In [ ]:
df['YearsCode'].median()

In [319]:
ethfile = pd.read_csv('/Users/dhruvbharara/Downloads/archive (4)/ETH_day.csv')
d_parser = lambda x : pd.to_datetime.strptime('')
ethfile2 = pd.read_csv('/Users/dhruvbharara/Downloads/archive (4)/ETH_1H.csv' , parse_dates=['Date'] , )
edf= pd.DataFrame(ethfile)
edf2 = pd.DataFrame(ethfile2)

/var/folders/2c/m7b9y7bj78v2_ry5dp9j_cdh0000gn/T/ipykernel_5427/3436934387.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ethfile2 = pd.read_csv('/Users/dhruvbharara/Downloads/archive (4)/ETH_1H.csv' , parse_dates=['Date'] , )

In [320]:
edf2.describe()

,Unix Timestamp,Date,Open,High,Low,Close,Volume
count,3.449700e+04,34497,34497.000000,34497.000000,34497.000000,34497.000000,34497.000000
mean,7.147761e+11,2018-04-28 06:07:19.238194688,239.172160,240.988877,237.142926,239.176415,1563.625471
min,1.462799e+09,2016-01-06 00:00:00,0.000000,6.150000,0.000000,6.100000,0.000000
25%,1.493845e+09,2017-05-03 21:00:00,81.020000,82.120000,79.980000,81.020000,101.092334
50%,1.524892e+09,2018-04-28 05:00:00,181.870000,182.770000,180.820000,181.870000,444.684817
75%,1.555940e+12,2019-04-22 13:00:00,298.070000,299.920000,296.380000,298.070000,1508.711881
max,1.587000e+12,2020-12-04 23:00:00,1417.540000,1420.010000,1388.990000,1417.540000,903102.685700
std,7.758756e+11,NaN,237.205512,239.468230,234.532649,237.202348,7003.461234

In [321]:
edf2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34497 entries, 0 to 34496
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unix Timestamp  34497 non-null  float64
 1   Date            34497 non-null  datetime64[ns]
 2   Symbol          34497 non-null  object
 3   Open            34497 non-null  float64
 4   High            34497 non-null  float64
 5   Low             34497 non-null  float64
 6   Close           34497 non-null  float64
 7   Volume          34497 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 2.1+ MB

In [322]:
sd6
out = pd.read_sql

      name age
0    Dhruv  19
1  Pritesh  20
2  Advaith  21
3  Sarthak  20
4        0   0