In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/Users/dhruvbharara/Downloads/stack-overflow-developer-survey-2019 (1)/survey_results_public_final.csv')
print(df)

In [ ]:
print(df.shape) #prints the rows and columns of dataset

In [ ]:
df.info

In [ ]:
schema_df = pd.read_csv('/Users/dhruvbharara/Downloads/stack-overflow-developer-survey-2023/survey_results_schema_final.csv')
print(schema_df)

In [ ]:
df.head(10) #gives the output of first ten rows

In [ ]:
print(schema_df['qid']) #printing only the specified column  ,,,, this also a series

In [ ]:
print(df.Age) #another way to print a column

In [ ]:
print(df[['Respondent','MainBranch']])  #accessign multiple columns in a single row

In [ ]:

print(df.columns) #getting the names of all the columns

In [ ]:
print(df.iloc[0])  #getting the data of a specififc row

print(df.iloc[0,1]) #getting the data of row 0 to 1 

print(df.iloc[[0,1],2]) #getting the  data of row 0 to 1 with colunn 2 only as an attribute

In [ ]:
print(df.iloc[[0,10],1]) #getting the data of row 0 to 10 with column 1 only as an attribute

print(df.loc[[0,1]]) #loc is also used to get data  and also used with combination of attribute

print(df.loc[[1,2],'MainBranch']) #in loc we need to specify the labelo only if kept empty it will give a key error

print(df.loc[1:20,['MainBranch','Employment']]) #1:20 infers to print access data value from rows 1 to 20

print(df['WorkPlan'].value_counts())

In [ ]:
print(df.loc[1:20 , 'Respondent':'Age1stCode']) #value of rows 1 to 20 along with attributes from responseID to learncode 

df.set_index('Age', inplace = True) #to set a column as an index , inplace is used to carry over those changes meaning making the changes permanent

In [ ]:
print(df.index)

df.reset_index(inplace=True) #reseting the index 

print(schema_df)

print(schema_df.sort_index(ascending=False))

In [ ]:
#took sample data to work on some commands
sample_Data = {'first':['Dhruv' , 'Vraj' , 'Sanidhya ' , 'john'] , 'last':['Bharara' , 'Shah' , 'Sarda' , 'dane']  , 'email':['dhruvbharara2@gmail.com' , 'vrajshah09@gmail.com' , 'sardasandy20@gmail.com' , 'johndane@gmail.com']}

sd = pd.DataFrame(sample_Data)

print(sd)

filt1 = (sd['first'] == 'Dhruv') #to check if the row matches or not , if matches then return true and not return false 

print(filt1)
print(sd[filt1]) #will return the data frame with the filter

In [ ]:

print(df['ConvertedComp'])

high_salary = (df['ConvertedComp']>70000)

print(df.loc[high_salary]) #using filter for printing salaries more than 70000

print(df.loc[high_salary,['Country' , 'LanguageWorkedWith' , 'ConvertedComp']])

In [ ]:
fresher = (df['YearsCode'] > str(3))
print(df.loc[fresher , ['ConvertedComp' , 'Respondent','YearsCode']])

filt2 = df['LanguageWorkedWith'].str.contains('Python' , na = False)
print(df.loc[filt2,'LanguageWorkedWith'])#running with filter to print the rows with python as a language worked with

In [ ]:
#again working with the sample data created before
sd = pd.DataFrame(sample_Data)
print(sd)

sd.columns = ['first_name ' , 'last_name' , 'email'] #just changing the names of the column..
sd.columns = sd.columns.str.replace('email' , 'email_id') #replacing the columns names with some another name , first argument is old column name and second argument is new column name , works with anything

sd.columns = [x.upper() for x in sd.columns ] #making the column names in uppercase 

sd.columns = [x.lower() for x in sd.columns] #making the column names in lowercase 


print(sd)

In [ ]:
print(sd.loc[2])

In [ ]:
sd.loc[3,['last' , 'email']] = ['doe' , 'johndoe@gmail.com'] #used for updating a row in the column , columns need to specifed first

In [ ]:
sd.loc[3,['last']] = ['Doe']
sd.loc[3,['first']] = ['John'] #updating the rows again 
print(sd)

In [ ]:
sd['email'] = sd['email'].str.upper() #or run sd.email.str.upper()
sd

In [ ]:
sd['email'] = sd['email'].str.upper()

In [ ]:
sd.email.apply(len) #to give the lenght of rows

In [ ]:
def email_upper(email):    #creating functions and pandas together 
    return sd.email.str.upper()
    

email_upper(sd.email)

In [ ]:
sd['email'] = sd['email'].apply(email_upper) #apply map only works on dataframe and not series 
sd

In [ ]:
sd.email = sd.email.apply(lambda x : x.lower())
sd

In [ ]:
sd.map(len)  # can also use sd.applymap(len) , map method only works on series

In [ ]:
sd.loc[0 , ['first']] = ['pritesh']

In [ ]:
sd.drop(index=3)

In [ ]:
sample_Data2 = {'first':['dhruv','pritesh','sarthak'] , 'age':['20','21','22'] ,'last':['bharara','panda','singh'] }

In [ ]:
sd2 = pd.DataFrame(sample_Data2)

In [ ]:
sd2.sort_values(by='last',ascending=False) #sorting on the basis of last name

In [ ]:
sd2.sort_values(by=['last','age'],ascending=False) #sorting on the basis of last first and then age , ascending order is true

In [ ]:
df.columns

In [ ]:
df.sort_values(['ConvertedComp','Country'],ascending=[True,False],inplace=True)

In [ ]:
df['ConvertedComp'].nlargest(10) #gives the 10 largest values of the attribute

In [ ]:
df.nlargest(10,['ConvertedComp','Age'])

In [ ]:
sampl = pd.read_excel('/Users/dhruvbharara/Downloads/TEST2.xlsx')

In [ ]:
sampl.columns

In [ ]:
df.columns

In [ ]:
df['ConvertedComp'].median()

In [ ]:
df.groupby(['ConvertedComp','Age']).agg({'median'})

In [ ]:
df.describe()

In [ ]:
df['ConvertedComp'].count()

In [ ]:
df['Hobbyist'].value_counts()

In [ ]:
df['Country'].value_counts()
df['SocialMedia'].value_counts()

In [ ]:
df['SocialMedia'].value_counts(normalize=True) #this breaks down the data by percentage

In [ ]:
countrygroup = df.groupby(['Country'])

In [ ]:
countrygroup.get_group('United States') #data is displayed only of where country = United States

In [ ]:
filt4 = df['Country']=='United States' #using filter is only useful when u want a data for a specific input...groupby is more useful

In [ ]:
df[filt4]

In [ ]:
df.groupby(['Country','SocialMedia'])

In [ ]:
df.loc[filt4]['SocialMedia'].value_counts()

In [ ]:
countrygroup['SocialMedia'].value_counts().head(100)

In [ ]:
afg = df['Country'] == 'Afghanistan'
usa = df['Country'] == 'United States'

In [ ]:
df.loc[afg]['SocialMedia'].str.contains('Reddit').value_counts()

In [ ]:
df.loc[afg]['SocialMedia'].str.contains('Reddit')

In [ ]:
df.loc[6391,['SocialMedia','Country']]

In [ ]:
df.loc[usa]['SocialMedia'].str.contains('Reddit').value_counts()

In [ ]:
countrygroup['SocialMedia'].value_counts().loc['China']

In [ ]:
countrygroup['SocialMedia'].value_counts().loc['Afghanistan']

In [ ]:
countrygroup['ConvertedComp'].median().loc['India']

In [ ]:
countrygroup['ConvertedComp'].agg(['median','mean']).loc['India']

In [ ]:
df.loc[usa]['LanguageWorkedWith'].str.contains('Python').value_counts()

In [ ]:
df.loc[usa]['LanguageWorkedWith'].str.contains('Python').sum()

In [ ]:
df.columns

In [ ]:
countryrespondents = df['Country'].value_counts()
countryrespondents

In [ ]:
countrygroup['LanguageWorkedWith'].apply(lambda x : x.str.contains('')).sum()

In [ ]:
df['LanguageWorkedWith']

In [ ]:
countrygroup['LanguageWorkedWith'].value_counts().loc()

In [ ]:
c = df['Country']

In [ ]:
df.loc[c]

In [ ]:
countrygroup['LanguageWorkedWith'].apply(lambda y : y)

In [ ]:
countrygroup['SocialMedia'].value_counts()

In [ ]:
countrygroup['LanguageWorkedWith'].value_counts()

In [3]:
df2 = pd.read_csv('/Users/dhruvbharara/Downloads/stack-overflow-developer-survey-2023 (1) 2/survey_results_public.csv')

In [ ]:
df2

In [ ]:
df2['LanguageHaveWorkedWith'].apply(lambda x : x.str.contains('Python'))

In [ ]:
df['LanguageWorkedWith'].apply(lambda x : x)

In [ ]:
df2['LanguageHaveWorkedWith'].astype(str).apply(lambda x: 'Python' in x).value_counts()

In [8]:
import pandas as pd

countr = df2.groupby('Country')
countr['SurveyEase'].apply(lambda x: x.str.contains('Easy').sum())

Country
Afghanistan                              27
Albania                                  26
Algeria                                  46
Andorra                                   8
Angola                                    4
                                       ...
Venezuela, Bolivarian Republic of...     75
Viet Nam                                156
Yemen                                     7
Zambia                                   13
Zimbabwe                                 17
Name: SurveyEase, Length: 185, dtype: int64

In [9]:
filt5 = df2['Country'] == 'India'

In [15]:
df2.loc[filt5]['SurveyEase'].str.contains('Easy').sum()

2947

In [ ]:
countrygroup2['LanguageHaveWorkedWith'].apply(lambda x : x.str.contains('Python')).value_counts()

In [ ]:
countrygroup['LanguageWorkedWith'].value_counts()

In [ ]:
countrygroup2['LanguageHaveWorkedWith'].apply(lambda x : x.str.contains('Python').sum())

In [ ]:
countrygroup['LanguageWorkedWith'].apply(lambda x : x.str.contains('Python').sum())

In [253]:
df2

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89179,89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89180,89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89181,89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89182,89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89183,89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN

In [254]:
df['SurveyEase']

0        Neither easy nor difficult
1        Neither easy nor difficult
2        Neither easy nor difficult
3                              Easy
4                              Easy
                    ...
88878                          Easy
88879                           NaN
88880                           NaN
88881                           NaN
88882                          Easy
Name: SurveyEase, Length: 88883, dtype: object

In [255]:
df['SurveyEase'].value_counts()

SurveyEase
Easy                          58613
Neither easy nor difficult    26771
Difficult                      1697
Name: count, dtype: int64

Country
Afghanistan                              27
Albania                                  26
Algeria                                  46
Andorra                                   8
Angola                                    4
                                       ...
Venezuela, Bolivarian Republic of...     75
Viet Nam                                156
Yemen                                     7
Zambia                                   13
Zimbabwe                                 17
Name: SurveyEase, Length: 185, dtype: int64