In [74]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler

In [ ]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
spark

In [ ]:
df_spark = spark.read.csv('/Users/dhruvbharara/Downloads/stack-overflow-developer-survey-2023/survey_results_schema_final.csv')

In [ ]:
df_spark.show()

In [ ]:
spark.read.option('header','true').csv('/Users/dhruvbharara/Downloads/stack-overflow-developer-survey-2023/survey_results_schema_final.csv').show()

In [ ]:
df_spark.head(10)
df_spark.printSchema()

In [ ]:
df_spark = spark.read.csv('/Users/dhruvbharara/Downloads/stack-overflow-developer-survey-2023/survey_results_schema_final.csv',header=True,inferSchema=True)
df_spark.show()

In [ ]:
df_spark.columns

In [ ]:
df_spark.head(4)

In [ ]:
df_spark.select('qname').show() #to print the values of a single column

In [ ]:
df_spark.select('qname','question').show()

In [ ]:
df_spark['qname']

In [ ]:
df_spark.dtypes

In [ ]:
df_spark.describe().show()

In [ ]:
df_spark.withColumn('qid+qname',df_spark['qid']+df_spark['qname']).show()

In [ ]:
df2 = spark.read.csv('/Users/dhruvbharara/Downloads/companies.csv',header=True,inferSchema=True)

In [ ]:
df2.show()

In [83]:
s = spark.read.csv('/Users/dhruvbharara/Downloads/sample1.csv',header=True,inferSchema=True)

In [84]:
s.show()

+--------+---+----------+-------+
|    NAME|AGE|EXPERIENCE| SALARY|
+--------+---+----------+-------+
|   krish| 23|         2|1000000|
|sudanshu| 34|        12|2800000|
| priyank| 32|        10|2200000|
|   jawal| 28|         6|1650000|
|  mahesh| 24|         3| 560000|
|  rajesh| 38|        12|2240000|
|    raju| 25|         4|1256000|
|   makol| 40|        15|4500000|
|   dhruv| 22|         1| 850000|
|   anmol| 22|         1| 560000|
|     raj| 24|         2| 678000|
|     ram| 25|         4|1350000|
+--------+---+----------+-------+

In [ ]:
s.drop('experience').show() #the changes made are not permanent

In [ ]:
s.na.drop().show() #used to drop the null values in the dataset , the whole row is deleted

In [ ]:
s.na.drop(how='any').show() #how variable takes 2 arguments (any,all)..any means the row is dropped if any value is null

In [ ]:
s.na.drop(how='all').show() # as all is chosen so only the row which has all the null values will be dropped

In [ ]:
s.na.drop(how='any',thresh=3).show() #thresh means to delete the row if atleast 3(input) values are null

In [ ]:
s.na.drop(how='any',subset=['experience']).show() #subset is used to delete the row in which the column value is null

In [ ]:
s.na.fill('Missing value').show() #to replace the null value , it will only work if the column datatype is same as filling value type

In [ ]:
s.na.fill(value=0,subset=['age']).show()

In [ ]:
s.show()

In [ ]:
s.filter('salary<=1000000').show() #to retrieve all columns based on information specified

In [ ]:
s.filter('salary<=1000000').select(['Name','Age']).show() #to retrieve the specified columns

In [ ]:
s.filter(s['SALARY']<=1000000).show() #another way to write

In [ ]:
s.filter((s['SALARY']>=1000000) & (s['salary']<=1500000)).show()

In [ ]:
s2 = spark.read.csv('/Users/dhruvbharara/Downloads/testspark.csv',header=True,inferSchema=True)

In [ ]:
s2.show()

In [ ]:
s2.printSchema()

In [ ]:
s2.groupBy('name').sum().show() #grouped to find maximum sum of salary

In [ ]:
s2.groupBy('name').max().show()

In [66]:
s2.groupBy('Department').sum().show()

+----------+-----------+
|Department|sum(salary)|
+----------+-----------+
|       fsd|      38370|
|blockchain|      65670|
|        it|      36600|
+----------+-----------+

In [67]:
s2.groupBy('Department').mean().show()

+----------+-----------+
|Department|avg(salary)|
+----------+-----------+
|       fsd|     9592.5|
|blockchain|    16417.5|
|        it|     9150.0|
+----------+-----------+

In [68]:
s2.groupBy('department').count().show()

+----------+-----+
|department|count|
+----------+-----+
|       fsd|    4|
|blockchain|    4|
|        it|    4|
+----------+-----+

In [69]:
s2.agg({'salary':'sum'}).show() #using a aggregate function

+-----------+
|sum(salary)|
+-----------+
|     140640|
+-----------+

In [70]:
s.show()

+--------+----+----------+-------+
|    NAME| AGE|EXPERIENCE| SALARY|
+--------+----+----------+-------+
|   krish|  23|         2|1000000|
|sudanshu|  34|        12|2800000|
| priyank|  32|        10|2200000|
|   jawal|  28|         6|1650000|
|  mahesh|  24|         3| 560000|
|  rajesh|NULL|        12|2240000|
|    raju|  25|         4|   NULL|
|   makol|  40|      NULL|4500000|
|   dhruv|  22|         1| 850000|
|    NULL|NULL|      NULL|   NULL|
|     raj|  24|         2| 678000|
|     ram|NULL|         4|   NULL|
+--------+----+----------+-------+

In [71]:
s.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- EXPERIENCE: integer (nullable = true)
 |-- SALARY: integer (nullable = true)

In [85]:
s.columns

['NAME', 'AGE', 'EXPERIENCE', 'SALARY']

In [86]:
featureassembler = VectorAssembler(inputCols=['AGE','EXPERIENCE'],outputCol="Independent feature")

In [87]:
output = featureassembler.transform(s)

In [88]:
output.show()

+--------+---+----------+-------+-------------------+
|    NAME|AGE|EXPERIENCE| SALARY|Independent feature|
+--------+---+----------+-------+-------------------+
|   krish| 23|         2|1000000|         [23.0,2.0]|
|sudanshu| 34|        12|2800000|        [34.0,12.0]|
| priyank| 32|        10|2200000|        [32.0,10.0]|
|   jawal| 28|         6|1650000|         [28.0,6.0]|
|  mahesh| 24|         3| 560000|         [24.0,3.0]|
|  rajesh| 38|        12|2240000|        [38.0,12.0]|
|    raju| 25|         4|1256000|         [25.0,4.0]|
|   makol| 40|        15|4500000|        [40.0,15.0]|
|   dhruv| 22|         1| 850000|         [22.0,1.0]|
|   anmol| 22|         1| 560000|         [22.0,1.0]|
|     raj| 24|         2| 678000|         [24.0,2.0]|
|     ram| 25|         4|1350000|         [25.0,4.0]|
+--------+---+----------+-------+-------------------+

In [90]:
output.columns

['NAME', 'AGE', 'EXPERIENCE', 'SALARY', 'Independent feature']

In [92]:
finalized = output.select('Independent feature','SALARY')

In [93]:
finalized.show()

+-------------------+-------+
|Independent feature| SALARY|
+-------------------+-------+
|         [23.0,2.0]|1000000|
|        [34.0,12.0]|2800000|
|        [32.0,10.0]|2200000|
|         [28.0,6.0]|1650000|
|         [24.0,3.0]| 560000|
|        [38.0,12.0]|2240000|
|         [25.0,4.0]|1256000|
|        [40.0,15.0]|4500000|
|         [22.0,1.0]| 850000|
|         [22.0,1.0]| 560000|
|         [24.0,2.0]| 678000|
|         [25.0,4.0]|1350000|
+-------------------+-------+

In [97]:
from pyspark.ml.regression import LinearRegression 
train_data,test_data = finalized.randomSplit([0.75,0.25])
regressor = LinearRegression(featuresCol = 'Independent feature',labelCol =  'SALARY')