In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/Users/dhruvbharara/Downloads/companies.csv')

In [ ]:
df
df.columns
df.count
df.shape

In [10]:
df.apply(len)

Company_name            10000
Description             10000
Ratings                 10000
Highly_rated_for        10000
Critically_rated_for    10000
Total_reviews           10000
Avg_salary              10000
Interviews_taken        10000
Total_jobs_available    10000
Total_benefits          10000
dtype: int64

In [9]:
df['Company_name']

0                                 TCS
1                           Accenture
2                           Cognizant
3                               Wipro
4                           Capgemini
                    ...
9995          Techila Global Services
9996              RxLogix Corporation
9997    Avians Innovations Technology
9998                     ACPL Systems
9999                        Beroe Inc
Name: Company_name, Length: 10000, dtype: object

In [11]:
df[['Avg_salary' , 'Company_name']]

     Avg_salary                   Company_name
0        856.9k                            TCS
1        584.6k                      Accenture
2        561.5k                      Cognizant
3        427.4k                          Wipro
4        414.4k                      Capgemini
...         ...                            ...
9995        454        Techila Global Services
9996        799            RxLogix Corporation
9997        489  Avians Innovations Technology
9998        520                   ACPL Systems
9999        585                      Beroe Inc

[10000 rows x 2 columns]

In [53]:
def converted_salary(Avg_salary):
    if isinstance(Avg_salary, str):
        if 'k' in Avg_salary:
            return float(Avg_salary.replace('k', '')) * 1000
        else:
            return (Avg_salary)
    else:
        # Handle cases where Avg_salary is already a float
        return Avg_salary

In [51]:
df['Avg_salary'] = df['Avg_salary'].apply(lambda x : converted_salary(x))

ValueError: could not convert string to float: '--'

In [42]:
df.head(10)

,Company_name,Description,Ratings,Highly_rated_for,Critically_rated_for,Total_reviews,Avg_salary,Interviews_taken,Total_jobs_available,Total_benefits
0,TCS,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",73.1k,8569000.0,6.1k,847,11.5k
1,Accenture,IT Services & Consulting | 1 Lakh+ Employees |...,4.0,"Company Culture, Skill Development / Learning,...",NaN,46.4k,5846000.0,4.3k,9.9k,7.1k
2,Cognizant,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,Skill Development / Learning,Promotions / Appraisal,41.7k,5615000.0,3.6k,460,5.8k
3,Wipro,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,Job Security,"Promotions / Appraisal, Salary & Benefits",39.2k,4274000.0,3.7k,405,5k
4,Capgemini,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,"Job Security, Work Life Balance, Skill Develop...","Promotions / Appraisal, Salary & Benefits",34k,4144000.0,2.8k,719,4k
5,HDFC Bank,Banking | 1 Lakh+ Employees | Public | 30 year...,4.0,"Job Security, Skill Development / Learning",Promotions / Appraisal,33.9k,1323000.0,1.5k,335,3.2k
6,ICICI Bank,Banking | 1 Lakh+ Employees | Public | 30 year...,4.0,"Job Security, Skill Development / Learning, Co...",NaN,33.5k,1436000.0,1.9k,215,3.7k
7,Infosys,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,"Job Security, Company Culture, Skill Developme...","Salary & Benefits, Promotions / Appraisal",31.8k,4620000.0,4.8k,1.1k,5.1k
8,HCLTech,IT Services & Consulting | 1 Lakh+ Employees |...,3.7,Job Security,"Promotions / Appraisal, Salary & Benefits, Wor...",28.5k,2934000.0,2.5k,408,4.1k
9,Tech Mahindra,IT Services & Consulting | 1 Lakh+ Employees |...,3.7,"Promotions / Appraisal, Salary & Benefits",NaN,27.6k,2513000.0,2.4k,1.1k,3.6k