In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('/Users/dhruvbharara/Downloads/companies.csv')

In [ ]:
df
df.columns
df.count
df.shape

In [ ]:
df.apply(len)

In [ ]:
df['Company_name']

In [ ]:
df[['Avg_salary' , 'Company_name']]

In [1]:
def converted_salary(Avg_salary):
    if isinstance(Avg_salary, str):
        if 'k' in Avg_salary:
            return float(Avg_salary.replace('k', '')) * 1000
        else:
            return float(Avg_salary)
    else:
        # Handle cases where Avg_salary is already a float
        return Avg_salary

In [2]:
df['Avg_salary'] = df['Avg_salary'].apply(lambda x : converted_salary(x))

NameError: name 'df' is not defined

In [ ]:
df.head(20)

In [ ]:
def converted_reviews(Total_reviews):
        if 'k' in Total_reviews:
            return float(Total_reviews.replace('k', '')) * 1000
        else:
            return float(Total_reviews)  # Convert to float before returning

In [ ]:
df['Total_reviews'] = df['Total_reviews'].apply(lambda x : converted_reviews(x))

In [ ]:
df

In [ ]:
def converted_interviews(Interviews_taken):
    if isinstance(Interviews_taken,str):
        if 'k' in Interviews_taken:
            return float(Interviews_taken.replace('k',''))*1000
        else:
            return Interviews_taken
    else:
        return Interviews_taken

In [ ]:
df['Interviews_taken'] = df['Interviews_taken'].apply(lambda x: converted_interviews(x))

In [ ]:
df

In [7]:
def converted_rows(column_name):
    if isinstance(column_name,str):
        if 'k' in column_name:
            return float(column_name.replace('k',''))*10000
        else:
            return float(column_name)
        
    else:
        return column_name

In [8]:
df['Total_jobs_available'] = df['Total_jobs_available'].apply(converted_rows)

ValueError: could not convert string to float: '--'

In [ ]:
df['Total_benefits'] = df['Total_benefits'].apply(converted_rows)

In [ ]:
df

In [ ]:
filt1 = (df['Avg_salary']>350000)

In [ ]:
df

In [ ]:
df['Avg_salary'] = df['Avg_salary'].apply(converted_rows)

In [ ]:
df