In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/Users/dhruvbharara/Downloads/companies.csv')

In [ ]:
df

In [ ]:
def converted(Avg_salary):
    if isinstance(Avg_salary,str):
        if 'k' in Avg_salary:
            return float(Avg_salary.replace('k',''))*1000
        else:
            return (Avg_salary)
    else:
        return Avg_salary

In [ ]:
df['Avg_salary'] = df['Avg_salary'].apply(lambda x: converted(x))

In [ ]:
df

In [ ]:
df.Avg_salary.dtypes

In [ ]:
df['Avg_salary'] = df['Avg_salary'].astype(float)

In [ ]:
df['Avg_salary'] = pd.to_numeric(df['Avg_salary'])

In [ ]:
df['Avg_salary'] = df['Avg_salary'].replace('--',0)

In [ ]:
filt1 = (df['Avg_salary'] > 350000)

In [ ]:
df.loc[filt1,['Company_name','Avg_salary']]

In [ ]:
df.columns

In [ ]:
def converted_interviews(Interviews_taken):
    if isinstance(Interviews_taken,str):
        if 'k' in Interviews_taken:
            return float(Interviews_taken.replace('k',''))*1000
        else:
            return Interviews_taken
    else:
        return Interviews_taken

In [ ]:
df['Interviews_taken'] = df['Interviews_taken'].apply(lambda x: converted_interviews(x))

In [ ]:
df.Interviews_taken

In [ ]:
df['Interviews_taken'] = df['Interviews_taken'].replace('--',0)

In [ ]:
df['Interviews_taken'] = df['Interviews_taken'].astype("float")

In [ ]:
filt2 = (df['Interviews_taken']>1000)

In [ ]:
df.loc[filt2,['Company_name','Interviews_taken']]

In [ ]:
def converted_reviews(Total_reviews):
    if isinstance(Total_reviews,str):
        if 'k' in Total_reviews:
            return float(Total_reviews.replace('k', ''))*1000
        else:
            return Total_reviews
    else:
        return Total_reviews

In [ ]:
df['Total_reviews'] = df['Total_reviews'].apply(lambda x: converted_reviews(x))

In [ ]:
df.Total_reviews

In [ ]:
df['Total_reviews'] = df['Total_reviews'].replace('--',0)

In [ ]:
df['Total_reviews'] = df['Total_reviews'].astype(float)

In [ ]:
filt3 = (df['Total_reviews'] > 20000)

In [ ]:
df.loc[filt3,['Company_name','Total_reviews']]

In [ ]:
df

In [ ]:
def converted_jobs_available(Total_jobs_available	):
    if isinstance(Total_jobs_available,str):
        if 'k' in Total_jobs_available	:
            return float(Total_jobs_available	.replace('k', ''))*1000
        else:
            return Total_jobs_available	
    else:
        return Total_jobs_available

In [ ]:
df['Total_jobs_available'] = df['Total_jobs_available'].apply(lambda x: converted_jobs_available(x))

In [ ]:
df['Total_jobs_available'] = df['Total_jobs_available'].replace('--',0)

In [ ]:
df['Total_jobs_available'] = df['Total_jobs_available'].astype(float)

In [ ]:
filt4 = (df['Total_jobs_available']>200)
df.loc[filt4 , ['Company_name' , 'Total_jobs_available']]

In [ ]:
df

In [ ]:
def converted_mega_function(Total_benifits):
    if isinstance(Total_benifits,str):
        if 'k' in Total_benifits:
            return float(Total_benifits.replace('k',''))*1000
        elif '--' in Total_benifits:
            return "0"
        else:
            return Total_benifits
    else:
        return Total_benifits

In [ ]:
df['Total_benefits'] = df['Total_benefits'].apply(lambda x : converted_mega_function(x))

In [ ]:
df['Total_benefits'] = df['Total_benefits'].astype(float)
filt5 = (df['Total_benefits']>2000)
df.loc[filt5,['Company_name','Total_benefits']]

In [ ]:
filt_rating = (df['Highly_rated_for']).str.contains('Work Life Balance',na=False)  #this treats the missing values as false and so that they do not cause errors

In [ ]:
df['Highly_rated_for'] = df['Highly_rated_for'].fillna('')

In [105]:
df.loc[filt_rating,['Company_name','Avg_salary']]

                   Company_name  Avg_salary
0                           TCS    856900.0
4                     Capgemini    414400.0
10                      Genpact    190400.0
15                       Amazon    125200.0
16                          IBM    221500.0
...                         ...         ...
9993       Modern Public School       361.0
9994  MediaTek India Technology       938.0
9995    Techila Global Services       454.0
9996        RxLogix Corporation       799.0
9999                  Beroe Inc       585.0

[4055 rows x 2 columns]

In [99]:
df

,Company_name,Description,Ratings,Highly_rated_for,Critically_rated_for,Total_reviews,Avg_salary,Interviews_taken,Total_jobs_available,Total_benefits
0,TCS,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",73100.0,856900.0,6100.0,847.0,11500.0
1,Accenture,IT Services & Consulting | 1 Lakh+ Employees |...,4.0,"Company Culture, Skill Development / Learning,...",NaN,46400.0,584600.0,4300.0,9900.0,7100.0
2,Cognizant,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,Skill Development / Learning,Promotions / Appraisal,41700.0,561500.0,3600.0,460.0,5800.0
3,Wipro,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,Job Security,"Promotions / Appraisal, Salary & Benefits",39200.0,427400.0,3700.0,405.0,5000.0
4,Capgemini,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,"Job Security, Work Life Balance, Skill Develop...","Promotions / Appraisal, Salary & Benefits",34000.0,414400.0,2800.0,719.0,4000.0
...,...,...,...,...,...,...,...,...,...,...
9995,Techila Global Services,IT Services & Consulting | 501-1k Employees | ...,3.7,"Work Life Balance, Salary & Benefits, Company ...",NaN,72.0,454.0,2.0,26.0,21.0
9996,RxLogix Corporation,Pharma | 201-500 Employees | 14 years old | Pr...,2.6,"Work Life Balance, Work Satisfaction, Company ...",NaN,72.0,799.0,15.0,9.0,13.0
9997,Avians Innovations Technology,Building Material | 51-200 Employees | 17 year...,3.7,"Promotions / Appraisal, Work Satisfaction, Sal...",NaN,72.0,489.0,3.0,11.0,8.0
9998,ACPL Systems,Law Enforcement & Security | 51-200 Employees ...,3.3,"Promotions / Appraisal, Salary & Benefits, Wor...",NaN,72.0,520.0,4.0,1.0,10.0
9999,Beroe Inc,Management Consulting | 201-500 Employees | 19...,4.5,"Work Life Balance, Job Security, Company Culture",NaN,72.0,585.0,7.0,5.0,14.0

In [103]:
df

,Company_name,Description,Ratings,Highly_rated_for,Critically_rated_for,Total_reviews,Avg_salary,Interviews_taken,Total_jobs_available,Total_benefits
0,TCS,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",73100.0,856900.0,6100.0,847.0,11500.0
1,Accenture,IT Services & Consulting | 1 Lakh+ Employees |...,4.0,"Company Culture, Skill Development / Learning,...",NaN,46400.0,584600.0,4300.0,9900.0,7100.0
2,Cognizant,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,Skill Development / Learning,Promotions / Appraisal,41700.0,561500.0,3600.0,460.0,5800.0
3,Wipro,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,Job Security,"Promotions / Appraisal, Salary & Benefits",39200.0,427400.0,3700.0,405.0,5000.0
4,Capgemini,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,"Job Security, Work Life Balance, Skill Develop...","Promotions / Appraisal, Salary & Benefits",34000.0,414400.0,2800.0,719.0,4000.0
...,...,...,...,...,...,...,...,...,...,...
9995,Techila Global Services,IT Services & Consulting | 501-1k Employees | ...,3.7,"Work Life Balance, Salary & Benefits, Company ...",NaN,72.0,454.0,2.0,26.0,21.0
9996,RxLogix Corporation,Pharma | 201-500 Employees | 14 years old | Pr...,2.6,"Work Life Balance, Work Satisfaction, Company ...",NaN,72.0,799.0,15.0,9.0,13.0
9997,Avians Innovations Technology,Building Material | 51-200 Employees | 17 year...,3.7,"Promotions / Appraisal, Work Satisfaction, Sal...",NaN,72.0,489.0,3.0,11.0,8.0
9998,ACPL Systems,Law Enforcement & Security | 51-200 Employees ...,3.3,"Promotions / Appraisal, Salary & Benefits, Wor...",NaN,72.0,520.0,4.0,1.0,10.0
9999,Beroe Inc,Management Consulting | 201-500 Employees | 19...,4.5,"Work Life Balance, Job Security, Company Culture",NaN,72.0,585.0,7.0,5.0,14.0