In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('/Users/dhruvbharara/Downloads/companies.csv')

In [ ]:
def converted(Avg_salary):
    if isinstance(Avg_salary,str):
        if 'k' in Avg_salary:
            return float(Avg_salary.replace('k',''))*1000
        else:
            return (Avg_salary)
    else:
        return Avg_salary

In [ ]:
df['Avg_salary'] = df['Avg_salary'].apply(lambda x: converted(x))

In [ ]:
df

In [ ]:
df.Avg_salary.dtypes

In [ ]:
df['Avg_salary'] = df['Avg_salary'].replace('--',0)

In [ ]:
df['Avg_salary'] = df['Avg_salary'].astype(float)
filt1 = (df['Avg_salary'] > 350000)

In [ ]:
df.loc[filt1,['Company_name','Avg_salary']]

In [ ]:
df.columns

In [ ]:
def converted_interviews(Interviews_taken):
    if isinstance(Interviews_taken,str):
        if 'k' in Interviews_taken:
            return float(Interviews_taken.replace('k',''))*1000
        else:
            return Interviews_taken
    else:
        return Interviews_taken

In [ ]:
df['Interviews_taken'] = df['Interviews_taken'].apply(lambda x: converted_interviews(x))

In [ ]:
df.Interviews_taken

In [ ]:
df['Interviews_taken'] = df['Interviews_taken'].replace('--',0)

In [ ]:
df['Interviews_taken'] = df['Interviews_taken'].astype("float")

In [ ]:
filt2 = (df['Interviews_taken']>1000)

In [ ]:
df.loc[filt2,['Company_name','Interviews_taken']]

In [ ]:
def converted_reviews(Total_reviews):
    if isinstance(Total_reviews,str):
        if 'k' in Total_reviews:
            return float(Total_reviews.replace('k', ''))*1000
        else:
            return Total_reviews
    else:
        return Total_reviews

In [ ]:
df['Total_reviews'] = df['Total_reviews'].apply(lambda x: converted_reviews(x))

In [ ]:
df.Total_reviews

In [ ]:
df['Total_reviews'] = df['Total_reviews'].replace('--',0)

In [ ]:
df['Total_reviews'] = df['Total_reviews'].astype(float)

In [ ]:
filt3 = (df['Total_reviews'] > 20000)

In [ ]:
df.loc[filt3,['Company_name','Total_reviews']]

In [ ]:
df

In [ ]:
def converted_jobs_available(Total_jobs_available	):
    if isinstance(Total_jobs_available,str):
        if 'k' in Total_jobs_available	:
            return float(Total_jobs_available	.replace('k', ''))*1000
        else:
            return Total_jobs_available	
    else:
        return Total_jobs_available

In [ ]:
df['Total_jobs_available'] = df['Total_jobs_available'].apply(lambda x: converted_jobs_available(x))

In [ ]:
df['Total_jobs_available'] = df['Total_jobs_available'].replace('--',0)

In [ ]:
df['Total_jobs_available'] = df['Total_jobs_available'].astype(float)

In [ ]:
filt4 = (df['Total_jobs_available']>200)
df.loc[filt4 , ['Company_name' , 'Total_jobs_available']]

In [ ]:
df

In [ ]:
def converted_mega_function(Total_benifits):
    if isinstance(Total_benifits,str):
        if 'k' in Total_benifits:
            return float(Total_benifits.replace('k',''))*1000
        elif '--' in Total_benifits:
            return "0"
        else:
            return Total_benifits
    else:
        return Total_benifits

In [ ]:
df['Total_benefits'] = df['Total_benefits'].apply(lambda x : converted_mega_function(x))

In [ ]:
df['Total_benefits'] = df['Total_benefits'].astype(float)
filt5 = (df['Total_benefits']>2000)
df.loc[filt5,['Company_name','Total_benefits']]

In [ ]:
filt_rating = (df['Highly_rated_for']).str.contains('Work Life Balance',na=False)  #this treats the missing values as false and so that they do not cause errors

In [ ]:
df['Highly_rated_for'] = df['Highly_rated_for'].fillna('')

In [ ]:
df.loc[filt_rating,['Company_name','Avg_salary']]

In [ ]:
comp = df.loc[1:10, 'Company_name'].tolist()
sal = df.loc[1:10, 'Avg_salary'].tolist()

# Plotting
plt.scatter(range(1, len(comp) + 1), sal, marker='o')  # Using company index on x-axis
plt.xticks(range(1, len(comp) + 1), comp, rotation=45)  # Setting company names as x-axis labels with rotation
plt.xlabel('Company')
plt.ylabel('Average Salary')
plt.title('Average salaries of top 10 companies')
plt.tight_layout()
plt.show()

In [ ]:
df.loc[1:10,['Company_name','Avg_salary']]

In [ ]:
df.columns

In [ ]:
df.Interviews_taken
df.Total_jobs_available

In [ ]:
df.loc[1:10,'Interviews_taken']

In [ ]:
df.Total_jobs_available.head(10)